Interface configuration of Guest users – Template for automation
---------------------------------------------------
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  vlan-id {{ VLANX }}
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  enable true
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet address {{ VLANX_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANX }}  fast-interval 1000
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet address {{ VLANX_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANX }}  virtual-address [ {{ VRRP_IP_VLANX }} ]
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet address {{ VLANX_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANX }}  priority {{ VRRP_PRIORITY }}
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet address {{ VLANX_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANX }}  preempt-mode preempt
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet address {{ VLANX_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANX }}  warmup-interval 30
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet address {{ VLANX_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANX }}  advertisements-threshold 3
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet address {{ VLANX_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANX }}  track route {{ TRACK_DESTINATION_SUBNET }}  routing-instance {{ WAN_TRANSPORT_VR }}
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANX }}  family inet address {{ VLANX_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANX }}  track route {{ TRACK_DESTINATION_SUBNET }}  priority-cost 10
set devices device {{ CPE_HOSTNAME }}  config networks LAN{{ VRRP_ID_VLANX }} interfaces [ vni-0/{{ LAN_INTERFACE_ID }}.{{ VLANX }} ]
set devices device {{ CPE_HOSTNAME }}  config orgs org {{ ORG_NAME }}  available-networks [ LAN{{ VRRP_ID_VLANX }} ]
set devices device {{ CPE_HOSTNAME }}  config orgs org {{ ORG_NAME }}  traffic-identification using-networks [ LAN{{ VRRP_ID_VLANX }} ]
set devices device {{ CPE_HOSTNAME }}  config orgs org-services {{ ORG_NAME }} objects zones Intf-LAN{{ VRRP_ID_VLANX }}-Zone description LAN{{ VLANX }}
set devices device {{ CPE_HOSTNAME }}  config orgs org-services {{ ORG_NAME }} objects zones Intf-LAN{{ VRRP_ID_VLANX }}-Zone networks [ LAN{{ VRRP_ID_VLANX }} ]
set devices device {{ CPE_HOSTNAME }}  config routing-instances {{ LAN_VRF_NAME }} networks [ LAN{{ VRRP_ID_VLANX }} ]
################################################################
DHCP configuration of Guest users – Template for Automation

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-dynamic-pools  VLAN{{ VLANX }}-DHCP-POOL address-pools  VLAN{{ VLANX }}-POOL ipv4-range begin-address {{ DHCP_LEASE_START_ADDRESS_VLANX }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-dynamic-pools  VLAN{{ VLANX }}-DHCP-POOL address-pools  VLAN{{ VLANX }}-POOL ipv4-range end-address {{ DHCP_LEASE_END_ADDRESS_VLANX }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-dynamic-pools  VLAN{{ VLANX }}-DHCP-POOL options-profile VLAN{{ VLANX }}-DHCP-PROFILE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-lease-profiles VLAN{{ VLANX }}-DHCP-LEASE valid-lifetime 3600
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-lease-profiles VLAN{{ VLANX }}-DHCP-LEASE renew-timer 900
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-lease-profiles VLAN{{ VLANX }}-DHCP-LEASE rebind-timer 2800
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-lease-profiles VLAN{{ VLANX }}-DHCP-LEASE log-utilization false
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-options-profiles VLAN{{ VLANX }}-DHCP-PROFILE domain-name kunden-wlan.de
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-options-profiles VLAN{{ VLANX }}-DHCP-PROFILE dns-server [ 8.8.8.8 ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-options-profiles VLAN{{ VLANX }}-DHCP-PROFILE echo-client-id true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-options-profiles VLAN{{ VLANX }}-DHCP-PROFILE default-router [ {{ DEFAULT_GW_IP_VLANX }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay default-lease-profile VLAN{{ VLANX }}-DHCP-LEASE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay default-options-profile VLAN{{ VLANX }}-DHCP-PROFILE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANX }}-DHCP-SERVER dhcp-request-match networks [ LAN{{ VRRP_ID_VLANX }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANX }}-DHCP-SERVER dhcp-service-type allocate-address dynamic  VLAN{{ VLANX }}-DHCP-POOL
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANX }}-DHCP-SERVER dhcp-log-settings log-new-allocations true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANX }}-DHCP-SERVER dhcp-log-settings log-renewals true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANX }}-DHCP-SERVER server-identifier {{ DEFAULT_GW_IP_VLANX }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANX }}-DHCP-SERVER lease-profile VLAN{{ VLANX }}-DHCP-LEASE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANX }}-DHCP-SERVER options-profile VLAN{{ VLANX }}-DHCP-PROFILE

Interface configuration of corporate Wi-Fi users – Template for automation
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  vlan-id {{ VLANY }}
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  enable true
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet address {{ VLANY_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANY }}  fast-interval 1000
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet address {{ VLANY_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANY }}  virtual-address [ {{ VRRP_IP_VLANY }} ]
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet address {{ VLANY_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANY }}  priority {{ VRRP_PRIORITY }}
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet address {{ VLANY_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANY }}  preempt-mode preempt
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet address {{ VLANY_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANY }}  warmup-interval 30
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet address {{ VLANY_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANY }}  advertisements-threshold 3
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet address {{ VLANY_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANY }}  track route {{ TRACK_DESTINATION_SUBNET }}  routing-instance {{ WAN_TRANSPORT_VR }}
set devices device {{ CPE_HOSTNAME }}  config interfaces  vni-0/{{ LAN_INTERFACE_ID }} unit {{ VLANY }}  family inet address {{ VLANY_IP_ADDRESS_PREFIX }}  vrrp-group {{ VRRP_ID_VLANY }}  track route {{ TRACK_DESTINATION_SUBNET }}  priority-cost 10

set devices device {{ CPE_HOSTNAME }}  config networks LAN{{ VRRP_ID_VLANY }} interfaces [ vni-0/{{ LAN_INTERFACE_ID }}.{{ VLANY }} ]

set devices device {{ CPE_HOSTNAME }}  config orgs org {{ ORG_NAME }}  available-networks [ LAN{{ VRRP_ID_VLANY }} ]
set devices device {{ CPE_HOSTNAME }}  config orgs org {{ ORG_NAME }}  traffic-identification using-networks [ LAN{{ VRRP_ID_VLANY }} ]
set devices device {{ CPE_HOSTNAME }}  config orgs org-services {{ ORG_NAME }} objects zones Intf-LAN{{ VRRP_ID_VLANY }}-Zone description LAN{{ VLANY }}
set devices device {{ CPE_HOSTNAME }}  config orgs org-services {{ ORG_NAME }} objects zones Intf-LAN{{ VRRP_ID_VLANY }}-Zone networks [ LAN{{ VRRP_ID_VLANY }} ]
set devices device {{ CPE_HOSTNAME }}  config routing-instances {{ LAN_VRF_NAME }} networks [ LAN{{ VRRP_ID_VLANY }} ]


DHCP configuration of Corporate Wi-Fi users – Template for Automation
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-dynamic-pools  VLAN{{ VLANY }}-DHCP-POOL address-pools  VLAN{{ VLANY }}-POOL ipv4-range begin-address {{ DHCP_LEASE_START_ADDRESS_VLANY }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-dynamic-pools  VLAN{{ VLANY }}-DHCP-POOL address-pools  VLAN{{ VLANY }}-POOL ipv4-range end-address {{ DHCP_LEASE_END_ADDRESS_VLANY }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-dynamic-pools  VLAN{{ VLANY }}-DHCP-POOL options-profile VLAN{{ VLANY }}-DHCP-PROFILE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-lease-profiles VLAN{{ VLANY }}-DHCP-LEASE valid-lifetime 3600
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-lease-profiles VLAN{{ VLANY }}-DHCP-LEASE renew-timer 900
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-lease-profiles VLAN{{ VLANY }}-DHCP-LEASE rebind-timer 2800
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-lease-profiles VLAN{{ VLANY }}-DHCP-LEASE log-utilization false
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-options-profiles VLAN{{ VLANY }}-DHCP-PROFILE domain-name kunden-wlan.de
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-options-profiles VLAN{{ VLANY }}-DHCP-PROFILE dns-server [ 8.8.8.8 ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-options-profiles VLAN{{ VLANY }}-DHCP-PROFILE echo-client-id true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-options-profiles VLAN{{ VLANY }}-DHCP-PROFILE default-router [ {{ DEFAULT_GW_IP_VLANY }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay default-lease-profile VLAN{{ VLANY }}-DHCP-LEASE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay default-options-profile VLAN{{ VLANY }}-DHCP-PROFILE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANY }}-DHCP-SERVER dhcp-request-match networks [ LAN{{ VRRP_ID_VLANY }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANY }}-DHCP-SERVER dhcp-service-type allocate-address dynamic  VLAN{{ VLANY }}-DHCP-POOL
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANY }}-DHCP-SERVER dhcp-log-settings log-new-allocations true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANY }}-DHCP-SERVER dhcp-log-settings log-renewals true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANY }}-DHCP-SERVER server-identifier {{ DEFAULT_GW_IP_VLANY }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANY }}-DHCP-SERVER lease-profile VLAN{{ VLANY }}-DHCP-LEASE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dhcp dhcp4-server-and-relay service-profiles VLAN{{ VLANY }}-DHCP-SERVER options-profile VLAN{{ VLANY }}-DHCP-PROFILE



DNAT configuration – Automation Template
CGNAT Pool creation

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat pools {{ CGNAT_POOL_NAME }} address [ {{ DNAT_REAL_SERVER_IP }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat pools {{ CGNAT_POOL_NAME }} icmp-mapping-timeout 60
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat pools {{ CGNAT_POOL_NAME }} destination-port-range
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat pools {{ CGNAT_POOL_NAME }} destination-port-range low 443
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat pools {{ CGNAT_POOL_NAME }} destination-port-range high 443

CGNAT Rule creation

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} precedence 1
set devices device {{ CPE_HOSTNAME }}  config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} paired-site true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} from
set devices device {{ CPE_HOSTNAME }}  config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} from destination-address [ {{ DNAT_NAT_SERVER_IP }} ]
set devices device {{ CPE_HOSTNAME }}  config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} from protocol 6
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} from destination-port-range
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} from destination-port-range low 443
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} from destination-port-range high 443
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} then translated
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} then translated translation-type dnat-44
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} cgnat rules {{ CGNAT_RULE_NAME }} then translated destination-pool {{ CGNAT_POOL_NAME }}





Firewall policy to allow traffic to ISE

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules Guest-Portal-ISE match source user user-type any
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules Guest-Portal-ISE match destination address address-list [ {{ DNAT_REAL_SERVER_IP }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules Guest-Portal-ISE match services predefined-services-list [ http https ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules Guest-Portal-ISE set action allow
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules Guest-Portal-ISE set tcp-session-keepalive disabled
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules Guest-Portal-ISE set lef event end
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules Guest-Portal-ISE set lef options send-pcap-data enable false


Cloud Lookup configuration – Automation Template
DNS settings 

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dns settings routing-instance {{ WAN_TRANSPORT_VR }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dns settings forwarders [ 8.8.8.8 ]

SNAT pool creation

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} objects snat SNAT-Pool-Cloudlookup egress-networks [ {{ WAN_NETWORK_NAME }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} objects snat SNAT-Pool-Cloudlookup routing-instance {{ WAN_TRANSPORT_VR }}


Cloud profile creation

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} objects cloud-profile URLF-Cloud-lookup activation enabled
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} objects cloud-profile URLF-Cloud-lookup connection-pool 200
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} objects cloud-profile URLF-Cloud-lookup timeout 120
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} objects cloud-profile URLF-Cloud-lookup type urlf-cloud-profile
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} objects cloud-profile URLF-Cloud-lookup snat-pool SNAT-Pool-Cloudlookup

Global URL parameters

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} url-filtering settings cloud-lookup-mode no-user-def-match
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} url-filtering settings match-type http-host-uri
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} url-filtering settings snat-pool SNAT-Pool-Cloudlookup
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} url-filtering settings logging url-parameter enabled
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} url-filtering settings logging max-url-length 255


URL filtering configuration for Guest Wi-Fi users – Automation Template


URL filtering profile creation

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} cloud-lookup-mode no-pre-user-defined-matches
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} lef-profile Default-Logging-Profile
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} decrypt-bypass true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} default-action predefined alert
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} blacklist evaluate-referrer true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} whitelist log-enable false
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} whitelist evaluate-referrer true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} category-action-map {{ URLF_PROFILE_NAME }} url-categories predefined [ {{ BLOCK_CATEGORY_NAME }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} category-action-map {{ URLF_PROFILE_NAME }} action predefined block


Map the URL filtering profile to Access policies

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} description {{ URLF_PROFILE_NAME }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} match source zone zone-list [ Intf-LAN{{ VRRP_ID_VLANX }}-Zone W-ST-LAN1-VRF-INT-WAN1 W-ST-LAN1-VRF-INT-WAN2 ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} match source user user-type any
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} match destination zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone L-ST-LAN1-VRF-INT-WAN1 L-ST-LAN1-VRF-INT-WAN2 ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set security-profile url-filtering user-defined {{ URLF_PROFILE_NAME }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set action allow
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set lef profile Default-Logging-Profile
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set lef event never
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set lef options send-pcap-data enable false




URL filtering configuration for corporate Wi-Fi users – Automation Template


URL filtering profile creation

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} cloud-lookup-mode no-pre-user-defined-matches
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} lef-profile Default-Logging-Profile
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} decrypt-bypass true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} default-action predefined alert
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} blacklist evaluate-referrer true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} whitelist log-enable false
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} whitelist evaluate-referrer true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} category-action-map {{ URLF_PROFILE_NAME }} url-categories predefined [ {{ BLOCK_CATEGORY_NAME }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles url-filtering {{ URLF_PROFILE_NAME }} category-action-map {{ URLF_PROFILE_NAME }} action predefined block


Map the URL filtering profile to Access policies

set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} description {{ URLF_PROFILE_NAME }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} match source zone zone-list [ Intf-LAN{{ VRRP_ID_VLANY }}-Zone W-ST-LAN1-VRF-INT-WAN1 W-ST-LAN1-VRF-INT-WAN2 ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} match source user user-type any
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} match destination zone zone-list [ Intf-INT-WAN1-Zone Intf-INT-WAN2-Zone L-ST-LAN1-VRF-INT-WAN1 L-ST-LAN1-VRF-INT-WAN2 ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set security-profile url-filtering user-defined {{ URLF_PROFILE_NAME }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set action allow
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set lef profile Default-Logging-Profile
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set lef event never
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security access-policies FW-ACCESS-POLICY rules {{ URLF_PROFILE_NAME }} set lef options send-pcap-data enable false



Decryption Profile configuration – Automation Template
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} decrypt-profile-type ssl-forward-proxy
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} lef-profile Default-Logging-Profile
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} certificate {{ CERTIFICATE_FILE_NAME }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} ca-chain default
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} use-extended-master-secret true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} expired-certificate predefined-actions alert
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} untrusted-issuers predefined-actions alert
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} unsupported-version predefined-actions alert
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} unsupported-ciphers predefined-actions alert
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} min-supported-key-length 512
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} unsupported-key-length predefined-actions alert
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} restrict-certificate-extension true
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security profiles decrypt {{ DECRYPTION_PROFILE_NAME }} support-session-ticket false


Decryption Rule configuration – Automation Template
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} objects addresses VLAN{{ VLANY }}-DHCP-RANGE ipv4-range {{ DHCP_OFFER_START_IP }}-{{ DHCP_OFFER_END_IP }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security decryption-policies {{ DECRYPT_POLICY_NAME }} rules decrpt-policy match source user user-type any
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security decryption-policies {{ DECRYPT_POLICY_NAME }} rules decrpt-policy match source address address-list VLAN{{ VLANY }}-DHCP-RANGE
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security decryption-policies {{ DECRYPT_POLICY_NAME }} rules decrpt-policy set action decrypt
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security decryption-policies {{ DECRYPT_POLICY_NAME }} rules decrpt-policy set decryption-profile {{ DECRYPTION_PROFILE_NAME }}


Enable Custom Block Page  - Automation Template
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security captive-portal block-page block


Global Settings of CP – Automation Template
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security captive-portal port 8080
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security captive-portal ssl-port 44999
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security captive-portal expiration-time 30
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security captive-portal routing-instances [ {{ CAPTIVE_PORTAL_SERVICE_VRF }} ]
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security captive-portal ssl-ca-certificate {{ CERTIFICATE_FILE_NAME }}
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} security captive-portal anchoring mac-and-ip-based


DNS server configuration – Automation Template
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dns settings routing-instance INT-WAN2-Transport-VR
set devices device {{ CPE_HOSTNAME }} config orgs org-services {{ ORG_NAME }} dns settings forwarders [ 8.8.8.8 ]


Global SPACK configuration – Automation Template
set devices device {{ CPE_HOSTNAME }} config security security-package url https://spack.versanetworks.com/versa-updates
set devices device {{ CPE_HOSTNAME }} config security security-package routing-instance INT-WAN2-Transport-VR
set devices device {{ CPE_HOSTNAME }} config security security-package download-timeout 300
set devices device {{ CPE_HOSTNAME }} config security security-package download-type full
set devices device {{ CPE_HOSTNAME }} config security security-package auto-update
set devices device {{ CPE_HOSTNAME }} config security security-package auto-update mode enabled
set devices device {{ CPE_HOSTNAME }} config security security-package auto-update start-time 7200
set devices device {{ CPE_HOSTNAME }} config security security-package auto-update interval 2592000
set devices device {{ CPE_HOSTNAME }} config security security-package realtime-auto-update
set devices device {{ CPE_HOSTNAME }} config security security-package realtime-auto-update mode disabled


