set devices device {{ NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart enable maximum-restart-time 60 recovery-time 60 select-defer-time 60 stalepath-time 60 dynamic-peer-restart-time 0 multiplier 20