set devices device {{ NAME }} config routing-instances {{ ORG_NAME }}-Control-VR protocols bgp {{ ORG_ID }} graceful-restart enable maximum-restart-time 3600 recovery-time 3600 select-defer-time 30 stalepath-time 3600 multiplier 8